workflows/log-analyzer-workflow.json
{
  "name": "Log File Analyzer",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      logContent: item.json.data,\n      source: 'github',\n      fetchedAt: new Date().toISOString()\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4496,
        1024
      ],
      "id": "20073ce4-9d74-4ea1-b2d0-23ca141ade19",
      "name": "Convert to Text"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nitems.forEach(item => {\n  const lines = item.json.logContent.split('\\n');\n\n  lines.forEach((line, index) => {\n    if (line.trim()) {\n      results.push({\n        json: {\n          lineNumber: index + 1,\n          logLine: line.trim(),\n          ingestedAt: item.json.fetchedAt\n        }\n      });\n    }\n  });\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        1024
      ],
      "id": "95b8ad7d-ee54-4d0e-b47e-b3b1c7ba4317",
      "name": "Split into Lines"
    },
    {
      "parameters": {
        "jsCode": "// Parse both Web (Apache/Nginx) and System (SSH/Auth) log formats\nconst items = $input.all();\n\nreturn items.map(item => {\n  const line = item.json.logLine;\n  \n  // 1. Apache/Nginx combined log regex\n  const apacheRegex = /^(\\S+) \\S+ \\S+ \\[([^\\]]+)\\] \"(\\S+) ([^\"]*) HTTP\\/[^\"]+\" (\\d+) (\\d+|-) \"([^\"]*)\" \"([^\"]*)\"/;\n  \n  // 2. Linux Auth/SSH regex (e.g., Failed password for root from 192.168.1.100)\n  const authRegex = /([A-Z][a-z]{2}\\s+\\d+\\s\\d{2}:\\d{2}:\\d{2}).*?(\\b\\d{1,3}(?:\\.\\d{1,3}){3}\\b)/;\n\n  const apacheMatch = line.match(apacheRegex);\n  const authMatch = line.match(authRegex);\n  \n  if (apacheMatch) {\n    return {\n      json: {\n        lineNumber: item.json.lineNumber,\n        logType: 'WEB',\n        ip: apacheMatch[1],\n        timestamp: apacheMatch[2],\n        method: apacheMatch[3],\n        path: apacheMatch[4],\n        statusCode: parseInt(apacheMatch[5]),\n        userAgent: apacheMatch[8],\n        rawLine: line\n      }\n    };\n  } else if (authMatch) {\n    return {\n      json: {\n        lineNumber: item.json.lineNumber,\n        logType: 'SSH',\n        timestamp: authMatch[1],\n        ip: authMatch[2],\n        path: 'SSH Login Attempt', // Filler for the threat detector\n        method: 'AUTH',\n        statusCode: line.toLowerCase().includes('failed') ? 401 : 200,\n        userAgent: 'Internal System Process',\n        rawLine: line\n      }\n    };\n  }\n  \n  return {\n    json: {\n      ...item.json,\n      parseError: true,\n      rawLine: line\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        1024
      ],
      "id": "8c331b40-eecd-4eef-bd94-54569a91115d",
      "name": "Parse Log Line"
    },
    {
      "parameters": {
        "jsCode": "// Detect security threats using pattern matching\nconst items = $input.all();\n\n// Threat detection patterns\nconst threatPatterns = [\n  {\n    name: 'SQL Injection',\n    regex: /(union\\s+select|or\\s+1\\s*=\\s*1|drop\\s+table|insert\\s+into|';\\s*--)/i,\n    severity: 'CRITICAL',\n    score: 30\n  },\n  {\n    name: 'Path Traversal',\n    regex: /(\\.\\.\\/|\\.\\.%2f|\\.\\.%5c|\\.\\.\\\\|\\.\\.\\/\\.\\.\\/|\\.\\.%252f)/i,\n    severity: 'HIGH',\n    score: 25\n  },\n  {\n    name: 'XSS Attempt',\n    regex: /(<script|javascript:|onerror=|onload=|<img|alert\\(|eval\\()/i,\n    severity: 'HIGH',\n    score: 20\n  },\n  {\n    name: 'Admin Panel Probing',\n    regex: /\\/(admin|administrator|wp-admin|phpmyadmin|adminer|manager)/i,\n    severity: 'MEDIUM',\n    score: 10\n  },\n  {\n    name: 'Scanner Activity',\n    regex: /(\\/config\\.php|\\/\\.env|\\/backup\\.sql|\\/database\\.sql|\\/phpinfo\\.php)/i,\n    severity: 'MEDIUM',\n    score: 15\n  },\n  {\n    name: 'Shell Upload Attempt',\n    regex: /(cmd\\.php|shell\\.asp|backdoor\\.jsp|webshell|c99\\.php|r57\\.php)/i,\n    severity: 'CRITICAL',\n    score: 35\n  },\n  {\n    name: 'Authentication Failure',\n    regex: /(failed password|invalid user|authentication failure)/i,\n    severity: 'MEDIUM',\n    score: 10\n  }\n];\n\nreturn items.map(item => {\n  const path = item.json.path || '';\n  const userAgent = item.json.userAgent || '';\n  const statusCode = item.json.statusCode || 200;\n  const detectedThreats = [];\n  let threatScore = 0;\n  \n  // Check each pattern\n  threatPatterns.forEach(pattern => {\n    if (pattern.regex.test(path) || pattern.regex.test(userAgent)) {\n      detectedThreats.push(pattern.name);\n      threatScore += pattern.score;\n    }\n  });\n  \n  // Additional scoring based on status codes\n  if (statusCode === 403 || statusCode === 401) {\n    threatScore += 5;  // Blocked requests indicate malicious intent\n  }\n  \n  // Check for scanner user agents\n  const scannerAgents = ['nikto', 'nmap', 'sqlmap', 'burp', 'acunetix', 'nessus'];\n  if (scannerAgents.some(scanner => userAgent.toLowerCase().includes(scanner))) {\n    detectedThreats.push('Scanner User-Agent');\n    threatScore += 15;\n  }\n  \n  return {\n    json: {\n      ...item.json,\n      threatsDetected: detectedThreats,\n      threatCount: detectedThreats.length,\n      threatScore: Math.min(threatScore, 100),  // Cap at 100\n      isThreat: detectedThreats.length > 0\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        1024
      ],
      "id": "bb24e5dd-a04e-41a8-90b4-a19d76a08564",
      "name": "Detect Threats"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate threat data by IP address (Max Score Logic)\nconst items = $input.all();\n\n// Group by IP\nconst ipMap = {};\n\nitems.forEach(item => {\n  const ip = item.json.ip;\n  const currentLineScore = item.json.threatScore || 0;\n  \n  if (!ipMap[ip]) {\n    ipMap[ip] = {\n      ip: ip,\n      requestCount: 0,\n      threatCount: 0,\n      maxThreatScore: 0, // Track the single highest score\n      threatTypes: new Set(),\n      statusCodes: {},\n      paths: [],\n      userAgents: new Set(),\n      firstSeen: item.json.timestamp,\n      lastSeen: item.json.timestamp\n    };\n  }\n  \n  const ipData = ipMap[ip];\n  ipData.requestCount++;\n  ipData.lastSeen = item.json.timestamp;\n  \n  if (item.json.isThreat) {\n    ipData.threatCount++;\n    \n    // Update Max Score: if this line is more dangerous than previous ones, use this score\n    if (currentLineScore > ipData.maxThreatScore) {\n      ipData.maxThreatScore = currentLineScore;\n    }\n    \n    item.json.threatsDetected.forEach(threat => {\n      ipData.threatTypes.add(threat);\n    });\n  }\n  \n  // Track status codes\n  const status = item.json.statusCode;\n  ipData.statusCodes[status] = (ipData.statusCodes[status] || 0) + 1;\n  \n  // Track paths (limit to 10 unique samples)\n  if (ipData.paths.length < 10 && !ipData.paths.includes(item.json.path)) {\n    ipData.paths.push(item.json.path);\n  }\n  \n  ipData.userAgents.add(item.json.userAgent);\n});\n\n// Convert to array and calculate final scores\nconst results = Object.values(ipMap).map(ipData => {\n  \n  // Rate-based multiplier\n  let rateMultiplier = 1;\n  if (ipData.requestCount > 500) {\n    rateMultiplier = 2;   // Likely DDoS\n  } else if (ipData.requestCount > 100) {\n    rateMultiplier = 1.5; // Brute force\n  }\n  \n  // Final score is now (Highest Single Threat * Rate Multiplier)\n  const finalScore = Math.min(Math.round(ipData.maxThreatScore * rateMultiplier), 100);\n  \n  // Determine risk level based on the peak danger detected\n  let riskLevel = 'LOW';\n  let action = 'Monitor';\n  \n  if (finalScore >= 80) {\n    riskLevel = 'CRITICAL';\n    action = 'Block Immediately';\n  } else if (finalScore >= 50) {\n    riskLevel = 'HIGH';\n    action = 'Block Recommended';\n  } else if (finalScore >= 20) {\n    riskLevel = 'MEDIUM';\n    action = 'Monitor Closely';\n  }\n  \n  return {\n    json: {\n      ip: ipData.ip,\n      requestCount: ipData.requestCount,\n      threatCount: ipData.threatCount,\n      peakThreatScore: ipData.maxThreatScore,\n      finalThreatScore: finalScore,\n      riskLevel: riskLevel,\n      action: action,\n      threatTypes: Array.from(ipData.threatTypes).join(', '),\n      userAgents: Array.from(ipData.userAgents).join('; ').substring(0, 150),\n      samplePaths: ipData.paths.slice(0, 5).join(', '),\n      firstSeen: ipData.firstSeen,\n      lastSeen: ipData.lastSeen\n    }\n  };\n});\n\n// Sort by final threat score (highest first)\nresults.sort((a, b) => b.json.finalThreatScore - a.json.finalThreatScore);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5392,
        1024
      ],
      "id": "3fba150f-a0d8-4ed4-a08f-28211d56fdf3",
      "name": "Aggregate Threats by IP"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n/* ------------------------\n   Aggregations\n------------------------- */\nconst totalIPs = items.length;\nconst totalRequests = items.reduce((s, i) => s + (i.json.requestCount || 0), 0);\nconst totalThreats = items.reduce((s, i) => s + (i.json.threatCount || 0), 0);\n\nconst riskCounts = {\n  CRITICAL: 0,\n  HIGH: 0,\n  MEDIUM: 0,\n  LOW: 0,\n};\n\nitems.forEach(i => {\n  const level = i.json.riskLevel;\n  if (riskCounts[level] !== undefined) {\n    riskCounts[level]++;\n  }\n});\n\nconst criticalIPs = riskCounts.CRITICAL;\nconst highRiskIPs = riskCounts.HIGH;\n\n/* ------------------------\n   Top Threat IPs (Top 10)\n------------------------- */\nconst topThreatIPs = [...items]\n  .sort((a, b) => \n    (b.json.finalThreatScore || 0) - (a.json.finalThreatScore || 0) || \n    (b.json.threatCount || 0) - (a.json.threatCount || 0)\n  )\n  .slice(0, 10);\n\n/* ------------------------\n   Helper: Risk Distribution Bars\n------------------------- */\nconst riskBar = (label, count, color) => {\n  const percent = totalIPs ? Math.round((count / totalIPs) * 100) : 0;\n  return `\n  <div style=\"margin-bottom:12px;\">\n    <div style=\"display:flex; justify-content:between; font-size:13px; margin-bottom:4px;\">\n        <span><b>${label}</b></span>\n        <span style=\"margin-left:auto;\">${count} (${percent}%)</span>\n    </div>\n    <div style=\"background:#e5e7eb; height:12px; border-radius:6px; width:100%;\">\n      <div style=\"width:${percent}%; height:12px; background:${color}; border-radius:6px;\"></div>\n    </div>\n  </div>`;\n};\n\n/* ------------------------\n   Full HTML Report Construction\n------------------------- */\nconst attachmentHtml = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\" />\n<style>\n    body { font-family: 'Segoe UI', Arial, sans-serif; background:#f9fafb; padding:40px; color:#1e293b; line-height: 1.5; }\n    .container { max-width: 1000px; margin: auto; background: white; padding: 25px; border-radius: 8px; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1); }\n    h1 { color:#0f172a; border-bottom: 2px solid #e2e8f0; padding-bottom: 10px; }\n    h2 { color:#1e40af; margin-top: 30px; border-left: 4px solid #1e40af; padding-left: 10px; }\n    .stats-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 15px; margin: 20px 0; }\n    .stat-card { background: #f1f5f9; padding: 15px; border-radius: 6px; text-align: center; }\n    .stat-val { display: block; font-size: 24px; font-weight: bold; color: #1e3c72; }\n    table { width:100%; border-collapse:collapse; margin-top:15px; background: white; }\n    th, td { border:1px solid #e2e8f0; padding:12px; text-align:left; }\n    th { background:#1e40af; color:white; text-transform: uppercase; font-size: 12px; }\n    tr:nth-child(even) { background:#f8fafc; }\n    .risk-CRITICAL { color: #b91c1c; font-weight:bold; background: #fee2e2; }\n    .risk-HIGH { color: #9a3412; font-weight:bold; background: #ffedd5; }\n    .risk-MEDIUM { color: #854d0e; font-weight:bold; background: #fef9c3; }\n    .risk-LOW { color: #15803d; font-weight:bold; background: #dcfce7; }\n    .scroll-box { max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 11px; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n    <h1>Security Operations Audit Report</h1>\n    \n    <section>\n        <h2>Executive Summary</h2>\n        <div class=\"stats-grid\">\n            <div class=\"stat-card\"><span class=\"stat-val\">${totalRequests}</span>Requests</div>\n            <div class=\"stat-card\"><span class=\"stat-val\">${totalIPs}</span>Unique IPs</div>\n            <div class=\"stat-card\"><span class=\"stat-val\">${totalThreats}</span>Total Threats</div>\n            <div class=\"stat-card\"><span class=\"stat-val\">${criticalIPs + highRiskIPs}</span>High/Crit Alerts</div>\n        </div>\n    </section>\n\n    <section>\n        <h2>Risk Distribution</h2>\n        <div style=\"max-width: 500px;\">\n            ${riskBar('CRITICAL', riskCounts.CRITICAL, '#dc2626')}\n            ${riskBar('HIGH', riskCounts.HIGH, '#f97316')}\n            ${riskBar('MEDIUM', riskCounts.MEDIUM, '#facc15')}\n            ${riskBar('LOW', riskCounts.LOW, '#10b981')}\n        </div>\n    </section>\n\n    <section>\n        <h2>Top 10 Threat IPs</h2>\n        <table>\n            <thead>\n                <tr>\n                    <th>IP Address</th>\n                    <th>Risk Level</th>\n                    <th>Score</th>\n                    <th>Threats</th>\n                    <th>Recommended Action</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${topThreatIPs.map(i => `\n                <tr>\n                    <td><b>${i.json.ip}</b></td>\n                    <td class=\"risk-${i.json.riskLevel}\">${i.json.riskLevel}</td>\n                    <td>${i.json.finalThreatScore}</td>\n                    <td>${i.json.threatCount}</td>\n                    <td>${i.json.action || 'Monitor'}</td>\n                </tr>`).join('')}\n            </tbody>\n        </table>\n    </section>\n\n    <footer style=\"margin-top:40px; border-top:1px solid #e2e8f0; padding-top:10px; font-size:12px; color:#64748b;\">\n        Generated by SOC Automation Pipeline • ${new Date().toUTCString()}\n    </footer>\n</div>\n</body>\n</html>`;\n\n/* ------------------------\n   Return Data\n------------------------- */\nreturn {\n  json: {\n    emailHtml: attachmentHtml, // You can use this for the email body directly if you prefer\n    alertCount: criticalIPs + highRiskIPs,\n    summaryStats: {\n        totalIPs,\n        totalThreats,\n        riskCounts\n    }\n  },\n  binary: {\n    report_file: {\n      data: Buffer.from(attachmentHtml, 'utf8').toString('base64'),\n      fileName: `Security_Audit_${new Date().toISOString().split('T')[0]}.html`,\n      mimeType: 'text/html'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5616,
        1024
      ],
      "id": "1457d537-7fdb-4de4-8a30-1f6b79705bb3",
      "name": "Generate HTML Report"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4048,
        1024
      ],
      "id": "b9a55da2-25e3-4c00-a93b-e56cc3b3da2d",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4272,
        1024
      ],
      "id": "2156a5a4-31e0-4e4b-a495-b6439011d654",
      "name": "Read Log File"
    },
    {
      "parameters": {
        "subject": "={{ $json.alertCount }} High Risk Threats Found",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "report_file"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        5840,
        1024
      ],
      "id": "b191b7b2-de7d-4a11-8034-04a0b789e1c7",
      "name": "Save Report",
      "webhookId": "e5647a24-e1a9-4e9e-949c-1936d6dfcde7",
      "credentials": {
        "gmailOAuth2": {
          "id": "4rgf3onoG15TrvnQ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to Text": {
      "main": [
        [
          {
            "node": "Split into Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Lines": {
      "main": [
        [
          {
            "node": "Parse Log Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Log Line": {
      "main": [
        [
          {
            "node": "Detect Threats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Threats": {
      "main": [
        [
          {
            "node": "Aggregate Threats by IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Threats by IP": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Log File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Log File": {
      "main": [
        [
          {
            "node": "Convert to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a7019bca-598d-4867-b4c8-55d08b6ccc06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "420da16e8a4bbbd9d07a488b082e20b52badc29a41dd5a8a3840782b3e7ae978"
  },
  "id": "tJhNrRL44EIAMr555-Kff",
  "tags": []
}